table {
    margin-top: 80px;
    border-collapse: collapse;
}

td,th {
    text-align: center;
    border: 1px solid black;
}

.td {
    text-align: center;
}
.th{
    text-align: center;
    border: 1px solid black; 
}
